.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.card {
  width: 100%;
  max-width: 1152px;
  min-height: 500px;
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  border-radius: 1.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .card {
    flex-direction: row;
  }
}

.columnDisclaimer {
  width: 100%;
}

.columnForm {
  width: 100%;
}

@media (min-width: 1024px) {
  .columnDisclaimer {
    width: 50%;
  }
  .columnForm {
    width: 50%;
  }
}
