.badge {
  font-size: 0.625rem; /* 10px */
  font-weight: 700;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--background-dark);
  line-height: 1.5;
  white-space: nowrap;
}

.primary {
  background-color: var(--primary);
  color: var(--background-dark);
}

.dark {
  background-color: #334155; /* slate-700 */
  color: white;
}
