@import "tailwindcss";

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #080A1A;
}

*::-webkit-scrollbar-track:hover {
  background-color: #080A1A;
}

*::-webkit-scrollbar-track:active {
  background-color: #080A1A;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #33FFD6;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #33FFD6;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #33FFD6;
}
