.controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.timeline {
  position: relative;
  height: 0.375rem; /* 6px */
  width: 100%;
  background-color: var(--white-10);
  border-radius: 9999px;
  cursor: pointer;
  /* overflow: visible; default */
}

.progress {
  position: absolute;
  height: 100%;
  width: 33%;
  background-color: var(--primary);
  border-radius: 9999px;
  box-shadow: 0 0 10px rgba(var(--primary-rgb), 0.8);
}

.thumb {
  position: absolute;
  height: 1rem;
  width: 1rem;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--primary);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.icon {
  cursor: pointer;
  transition: color 0.3s;
}
.icon:hover {
  color: var(--primary);
}

.time {
  font-size: 0.875rem;
  font-weight: 500;
}
